@model List<YayinTalebiViewModel>
@{
    ViewData["Title"] = "CurrentYayinTalebi";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Etkinliklerim</h1>
<section class="w3l-grids-3 py-5">
    <div class="container py-md-5">
        <div class="title-content text-left mb-lg-5 mb-4">
            <h6 class="sub-title">Tüm</h6>
            <h3 class="hny-title">Yayın Talepleriniz</h3>
        </div>
        <div class="row bottom-ab-grids">
            <!--/row-grids-->
            <table class="table table-bordered">
                <tr>
                    <th>Yayın Talebi ID</th>
                    <th>Etkinlik Adı</th>
                    <th>Kategori Adı</th>
                @*    <th>Salon Adı</th>
                    <th>Katılımcı Sayısı</th>*@
                @*    <th>Yayın Talebi Durumu</th>*@
                    <th>Kısa Etkinlik Açıklaması</th>
@*                    <th>Etkinlik Açıklaması</th>*@
                    <th>Etkinlik Başlangıç Tarihi</th>
                    <th>Etkinlik Bitiş Tarihi</th>
                    <th></th>
                    <th></th>
                </tr>
            @foreach (var item in Model)
            {
               <tr>
                   <td>@item.YayinTalebiId</td>
                    <td>@item.EtkinlikAdi</td>
                    <td>@item.KategoriAdi</td>
                @*    <td>@item.SalonAdi</td>
                    <td>@item.KatilimciSayisi</td>*@
                  @*  <td>@item.Durum</td>*@
                    <td>@item.EtkinlikAciklamasiKisa</td>
                   @* <td>@item.EtkinlikAciklamasi</td>*@
                    <td>@item.BaslangicTarihi</td>
                    <td>@item.BitisTarihi</td>
                    <td><a href="/member/yayintalebi/updateyayintalebi?yayinTalebiId=@item.YayinTalebiId" class=" = " btn btn-outline-warning">Güncelle</a></td>
                        <td><a href="/member/yayintalebi/deleteyayintalebi?yayinTalebiId=@item.YayinTalebiId" class=" = " btn btn-outline-danger">Sil</a></td>
                        <td><a href="/member/yayintalebi/yayintalebidetails/@item.YayinTalebiId">Ayrıntılar</a></td>

                  
               </tr>
            }
            </table>
        </div>
    </div>
</section>

